.graph-single-section {
  padding: 100px 0px;
}

.graph-single-section img {
  max-width: 100%;
  height: auto;
}

.graph-double-section {
  display: flex;
  justify-content: space-between;
  padding: 100px 100px;
  gap: 40px;
}

.graph-double {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 500px;
}

.graph-double img {
  width: 100%;
  margin-top: auto;
  margin-left: -8px;
}

.graph-double p {
  width: 100%;
}

.graph-caption {
  font-family: "Arima", sans-serif;
  font-size: var(--font-size-32);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-brown);
  text-align: center;
  line-height: 1;
  /* margin-bottom: 0px; */
}
