.landing-section {
}

.landing-yellow {
  height: calc(100vh - 132px);
  height: calc(100dvh - 132px);
  background-color: var(--color-background-yellow);
}


/* --- home-sections --- */

#highlights,
#faq,
#contact {
  scroll-margin-top: 132px;
}

h2 {
  font-family: "Arima", sans-serif;
  font-size: var(--font-size-52);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-green);
}

.section-sign {
  width: 48px;
  height: 48px;
  display: block;
}

.h2-line {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 24px;
  line-height: 1;
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.home-section p {
  font-family: "Palanquin", sans-serif;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-brown);
  text-align: center;
  line-height: 1.1;
  padding: 0px 110px 80px 110px;
}


/* --- highlights-slider ---  */

.highlights-image {
  width: 100%;
  display: block;
}

.slide-text h3 {
  font-family: "Palanquin Dark", sans-serif;
  font-size: var(--font-size-48);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-white);
  line-height: 1.1;
  text-align: left;
  padding: 16px 24px 16px 24px;
}

.slide-text {
  position: absolute;
  width: 75%;
  top: 52px;
  left: 42px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
}

.slide-text p {
  font-family: "Palanquin", sans-serif;
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-white);
  line-height: 1.1;
  text-align: left;
  padding: 0px 24px 16px 24px;
}

.highlights-slider {
  position: relative;
  width: 1200px;
  height: 520px;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.radio-buttons {
  position: absolute;
  bottom: 44px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 22px;
  z-index: 2;
}
.radio-buttons input {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  appearance: none;
  background-color: var(--color-background-white);
  cursor: pointer;
}

.radio-buttons input:checked {
  width: 40px;
  border-radius: 20px;
  background-color: var(--color-yellow);
}

.slider-wrapper {
  z-index: 1;
  width: 400%;
  height: 100%;
  position: absolute;
  display: flex;
  transition: all 1s ease-in-out;
}

.slider-element {
  position: relative;
  width: calc(100% / 4);
  height: 100%;
}

.highlights-slider:has(input[value="one"]:checked) .slider-wrapper {
  transform: translateX(0);
}
.highlights-slider:has(input[value="two"]:checked) .slider-wrapper {
  transform: translateX(calc(-100% / 4));
}
.highlights-slider:has(input[value="three"]:checked) .slider-wrapper {
  transform: translateX(calc(-200% / 4));
}
.highlights-slider:has(input[value="four"]:checked) .slider-wrapper {
  transform: translateX(calc(-300% / 4));
}

/* --- faq ---  */

.faq-container {
  width: 1200px;
  margin-top: 12px;
  font-family: "Palanquin", sans-serif;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-brown);
  line-height: 1;
}

.faq-item {
  background-color: var(--color-background-yellow);
  border-radius: var(--border-radius-faq);
  margin-bottom: 32px;
  padding: 16px;
}

.faq-item:last-child {
  margin-bottom: 0px;
}

.faq-question {
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-question::after {
  content: "";
  width: 12px;
  height: 12px;
  border-right: 3px solid var(--color-text-brown);
  border-bottom: 3px solid var(--color-text-brown);
  transform: rotate(45deg);
  transition: transform 0.2s ease;
}

details[open] .faq-question::after {
  transform: rotate(-135deg);
}

.faq-answer {
  padding: 8px 16px;
  margin: 8px 16px 0px 16px;
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-medium);
  background-color: var(--color-background-white);
  line-height: 1.2;
  border-radius: var(--border-radius-protipps);
}

/* .arrow-faq {
  width: 24px;
  height: 24px;
  display: block;
} */

/* --- contact ---  */

.form-group {
  width: 520px;
}

.contact-form label {
  /* display: block; */
  font-family: "Palanquin", sans-serif;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-brown);
  line-height: 2;
}

.form-row {
  display: flex;
  gap: 40px;
}

.form-group:has(textarea) {
  width: 1080px;
  padding-top: 40px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  /* padding: 10px; */
  border: none;
  border-bottom: 2px solid var(--color-brown);
  font-family: "Palanquin", sans-serif;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-brown);
  /* box-sizing: border-box; */
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-bottom-color: var(--color-green);
  outline: none;
}

.checkbox-line {
  display: flex;
  align-items: center;
  gap: 12px;
}

.checkbox-line label {
  font-family: "Palanquin", sans-serif;
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-brown);
}

.privacy-policy {
  font-weight: var(--font-weight-medium);
  color: var(--color-text-green);
}

.privacy-checkbox {
  width: 18px;
  height: 18px;
  display: block;
  appearance: none;
  border: 1px solid var(--color-brown);
  accent-color: var(--color-brown);
}

.button-send {
  font-family: "Arima", sans-serif;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-dark-grey);
  background-color: var(--color-background-white);
  border-radius: var(--border-radius-button);
  padding: 10px 40px;
  margin-top: 56px;
  line-height: 1;
}

.button-send:hover {
  background-color: var(--color-card-background);
}
